{{#each erro}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h4>Noav Postagem</h4>

<div class="card">
    <div class="card-body">
        <h4>Nova postagem</h4>
        <form action="/admin/postagens/nova" method="POST">

            <label for="titulo">Titulo:</label>
            <input type="text" id="titulo" name="titulo" class="form-control" required>

            <label for="slug">Slug:</label>
            <input type="text" id="slug" name="slug" class="form-control" required>

            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" class="form-control" required>
            
            <label for="conteudo">Descrição:</label>
            <textarea name="conteudo" id="conteudo" cols="30" rows="5" class="form-control" required></textarea>

            <label for="categoria">Categorias:</label>
            <select name="categoria" id="categoria" class="custom-select">
                <option>Categorias</option>
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhma categoria</option>
                {{/each}}
            </select>

            <button type="submit" class="btn btn-primary mt-4">Confirmar</button>
        </form>
    </div>
</div>